In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('example')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [3]:
df.to_csv('example',index=False)
#By default, Write will overwrite any existing file with the same name.

In [4]:
pd.read_csv('example')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [5]:
df.to_csv('my_example',index=False)

In [6]:
pd.read_csv('my_example')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [7]:
df.to_csv('my_example',index=False)

In [8]:
pd.read_csv('my_example')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df=pd.read_csv('text_file.txt', sep='\t') # from text file

In [14]:
dfe=pd.read_excel('Excel_Sample.xlsx') # from Excel

In [15]:
dfe

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
#dff=pd.read_excel('Excel_Sample.xlsx',sheet_name='sheet1')

In [18]:
# reading from multiple sheets of same Excel into different dataframes
#xlsx = pd.ExcelFile('Excel_Sample.xlsx')
#sheet1_df = pd.read_excel(xlsx, 'Sheet1')
#sheet2_df = pd.read_excel(xlsx, 'Sheet2')

In [ ]:
# writing
# index = False parameter will not write the index values, default is True
df.to_csv('Data/mtcars_new.csv', index=False)
df.to_csv('Data/mtcars_new.txt', sep='\t', index=False)
df.to_excel('Data/mtcars_new.xlsx',sheet_name='Sheet1', index = False)

# Basic operations

In [21]:
pd.to_datetime(pd.Series(['27-01-2020','28-01-2020','29-01-2020']))

0   2020-01-27
1   2020-01-28
2   2020-01-29
dtype: datetime64[ns]

In [26]:
df1 = pd.read_csv('my_example')
df1

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [33]:
df1.rename({'Unnamed: 0':'z'},inplace=True,axis=1)

In [34]:
df1.columns

Index(['z', 'a', 'b', 'c', 'd'], dtype='object')

In [35]:
df1

   z   a   b   c   d
0  0   0   1   2   3
1  1   4   5   6   7
2  2   8   9  10  11
3  3  12  13  14  15